
body {
  background: slateblue;
}
h1 {
  background: springgreen;
  color: red;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  text-align: center;
  padding: 25px 0;

}
input#peso {
  background: #e2dede;
  line-height: 2;

}
input#altura {
line-height: 2;
background: #e2dede;

}
input#botao {
padding: 10px;
  border: 10px;
  margin: 5px;


}
div#res {
  background: blue;
  color: snow;
  padding: 10px;
}